@import url("/style.css");

:root{
    --item-size: 100px;
    --icon-size: calc(var(--item-size) * 0.5);
}
body{
    padding-left: 5%;
    padding-right: 5%;
    overflow: auto !important;
}
hr{
    border: 5px solid var(--color-pallette-darker);
    border-radius: 20px;
}
ul{
  display: flex;
  position: relative;
  margin-bottom: 50px;
  margin-top: 50px;
}
ul li{
    width: var(--item-size);
    height: var(--item-size);
    background-color: var(--color-pallette-darkest);
    margin: 3px;
    border-radius: 20px;
}
li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
li a i{
    font-size: var(--icon-size);
}
.tooltip{
    width: var(--item-size);
}