@import url("/reset.css");

:root{
    --poll-status-polling:"polling";
    --poll-status-active:"active";
    --poll-status-inactive:"inactive";
    --poll-status-debug:"debug";
    --poll-status-error:"error";

    --text-color-light: rgb(200, 200, 200);
    --text-color-medium: rgb(150, 150, 150);
    --text-color-dark: rgb(100, 100, 100);

    --menu-width: 100px;
    --status-icon-size: 20px;
    --title-heigth: 30px;
    --button-height: 30px;
    --button-width: 100px;

    --color-pallette-darkest:rgb(20, 20, 20);
    --color-pallette-darker:rgb(30, 30, 30);
    --color-pallette-dark:rgb(40, 40, 40);
    --color-pallette-medium-dark:rgb(50, 50, 50);
    --color-pallette-medium:rgb(60, 60, 60);
    --color-pallette-light:rgb(70, 70, 70);
    --color-pallette-lighter:rgb(80, 80, 80);
    --color-pallette-lightest:rgb(90, 90, 90);

    --color-pallette-error:rgb(200, 0, 0);
    --color-pallette-inactive:rgb(90, 0, 0);
    --color-pallette-active:rgb(0, 90, 0);
    --color-pallette-debug:rgb(100, 100, 0);
    --color-pallette-polling:rgb(80, 80, 80);

    --color-image-active-debug:linear-gradient(to right, var(--color-pallette-active) 40%, var(--color-pallette-debug) 60%);
    --color-image-inactive-debug:linear-gradient(to right, var(--color-pallette-inactive) 40%, var(--color-pallette-debug) 60%);

    --standard-box-shadow:0 0px 5px rgba(0,0,0,.9);
}

body, html{
    height: 100%;
    width: 100%;
    color: var(--text-color-light);
    position: absolute;
    overflow: auto !important;
    background-color: var(--color-pallette-dark);
}
.menu{
    background-color: var(--color-pallette-darkest);
    border-right: 1px solid var(--color-pallette-darker);
    height: 100%;
    width: var(--menu-width);
    position: fixed;
    z-index: 998;
}
.menu nav li{
    width: 100%;
    height: var(--button-height);
    border-bottom: 1px solid var(--color-pallette-darker);
    display: block;
}
.menu nav li:hover{
    background-color: var(--color-pallette-dark);
    cursor: pointer;
}
.menu nav li:active{
    background-color: var(--color-pallette-medium);
}
li a{
    text-decoration: none;
    color: var(--text-color-light);
    display: block;
}
.content{
    display: flex;  
    flex-flow: column;
    background-color: var(--color-pallette-medium-dark);
    position: fixed;
    left: var(--menu-width);
    right: 0px;
    bottom: 0px;
    top:0px;
    z-index: 1;
}
.statusTable {
    margin: 5px;
}
.statusTable td:has(> i) {
    width: var(--status-icon-size);
    height: var(--status-icon-size);
    font-size: calc(var(--status-icon-size) * 0.9);
}
.statusTable td:has(> *[data-poll-status]) {
    width: calc(var(--menu-width) - var(--status-icon-size));
    height: var(--status-icon-size);
    padding-left: 5px;
}
.statusTable td > * {
    width: 100%;
    height: var(--status-icon-size);
}
.statusTable .tooltip {
    transform: translate(0%, calc(-100% + var(--status-icon-size)));
}

.dataTable{
    border-collapse: collapse;
}
.dataTable tr{
    border-bottom: 1px solid var(--color-pallette-darkest);
}
.dataTable td{
    padding-right: 10px;
}
.dataTable td:last-child{
    padding-right: 0px;
}
.dataTable thead{
    border-bottom: 2px solid var(--color-pallette-darkest);
}
.dataTable tbody tr:nth-child(even){
    background-color: var(--color-pallette-dark);
}
.dataTable tbody tr:nth-child(odd){
    background-color: var(--color-pallette-darker);
}
.tooltip {
    visibility: hidden;
    width: auto;
    background-color: var(--color-pallette-darker);
    color: var(--text-color-light);
    box-shadow: var(--standard-box-shadow);
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: 999;
}
*:hover > .tooltip{
    visibility: visible;
}
.tooltip:hover{
    visibility: visible;
}
i {
    text-align: center;
}
a, i{
    color: var(--text-color-light);
}
a:hover{
    cursor: pointer;
}
a:hover i{
    color: var(--text-color-medium);
}
a:active i{
    color: var(--text-color-dark);
}
::-webkit-scrollbar {
    width: 2vh;
    height: 2vh;
}
::-webkit-scrollbar-track {
    background-color: var(--color-pallette-darkest);
}
::-webkit-scrollbar-thumb {
    background: var(--color-pallette-medium);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-pallette-medium-dark);
}
::-webkit-scrollbar-button, ::-webkit-scrollbar-corner{
    visibility: hidden;
    height: 0px;
    width: 0px;
}
*::placeholder, *:disabled{
    color: var(--text-color-dark);
}
input[type="text"], select{
    background-color: var(--color-pallette-darker);
    border: 1px solid var(--color-pallette-dark);
    color: var(--text-color-light);
}
option:not(:disabled){
    color: var(--text-color-light);
}

input[type="button"]{
    height: var(--button-height);
    width: var(--button-width);
    background-color: var(--color-pallette-darkest);
    border: 1px solid var(--color-pallette-darker);
    color: var(--text-color-light);
}
input[type="button"]:hover{
    background-color: var(--color-pallette-dark);
    cursor: pointer;
}
input[type="button"]:active{
    background-color: var(--color-pallette-medium);
}
span[data-poll-status] {
    display: block;
}
*[data-poll-status] {
    text-align: center;
    margin: auto;
    max-width: var(--button-width);
}
*[data-poll-status="active"] {
    background-color: var(--color-pallette-active);
}
*[data-poll-status="inactive"] {
    background-color: var(--color-pallette-inactive);
}
*[data-poll-status="polling"] {
    background-color: var(--color-pallette-polling);
}
*[data-poll-status~="inactive"][data-poll-status~="debug"] {
    background-image: var(--color-image-inactive-debug);
}
*[data-poll-status~="active"][data-poll-status~="debug"] {
    background-image: var(--color-image-active-debug);
}
*[data-poll-status~="error"] {
    background-color: var(--color-pallette-error);
}
.center{
    text-align: center;
    vertical-align: middle;
}
.title{
    grid-row-start: first;
    grid-row-end: second;
    background-color: var(--color-pallette-darkest);
    flex: 0 0 auto;
    height: var(--title-heigth);
}
.data{
    grid-row-start: second;
    grid-row-end: third;
    flex: 1 1 auto;
    background-color: var(--color-pallette-dark);
    width: 100%;
}
.top{
    position: absolute;
    top:0px;
}
.bottom{
    position: absolute;
    bottom:0px;
} 
.maximized{
    width: 100%;
    height: 100%;
}
.maxWidth{
    width: 100%;
}
.maxHeight{
    height: 100%;
}
.no-edge {
    border-radius: 6px;
}
.edge-left-bottom {
    border-radius: 6px 6px 6px 0px;
}